Package: se.nosskirneh.spotifyhistory
Name: SpotifyHistory
Depends: mobilesubstrate
Version: 1.5
Architecture: iphoneos-arm
Description: View recently played tracks in Spotify
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
